<%- include('../bootheader') -%>
<%- include('./menubar') -%>
<div class="p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">
      Create Math Course </h1>
    <div class="p-2">

      <form method="post" action="/mathgrades/createCourse">

        <div class="mb-3">

          <label for="name" class="form-label">Course Name</label>
          <input required class="form-control" type="text" name="name" >
        </div>
        <div class="mb-3">

          <label for="description" class="form-label">Course Description</label>
          <textarea class="form-control" name="description" cols="100" rows="10"></textarea>
        </div>

        <input class="btn btn-lg btn-primary" type="submit">
      </form>
    </div>
  </div>
</div>

<%- include('../bootfooter') -%>
<%- include('../htmlfoot') -%>