<nav class="shadow navbar navbar-expand-lg navbar-light bg-primary border-bottom-0">
    <div class="container-fluid">
      <a class="navbar-brand text-light text-wrap" href="/">Math Grades App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link active " href="/">Home</a>
          </li>
          <% if (loggedIn) { %>
          <li class="nav-item">
            <a class="nav-link active  " href="/about">
              About </a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link active " href="/stats">
              Stats </a>
          </li>
          <% if (loggedIn) { %>
          <li class="nav-item">
            <a class="nav-link active  " href="/profile">
              Profile <span class="small">(<%= user.googleemail %>)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="mt-1 btn btn-outline-dark btn-sm" href="/logout"> Logout</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="mt-1 btn btn-outline-dark btn-sm" href="/auth/google"> Login</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>