<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-lg-5 p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">About</h1>
    <h2 class="ps-1">Design goals</h2>
    <p class="px-2 mb-1">The Mastery Learning/Specs Grading/Peer Review App (MLSGPRA) is designed for students to be able to:
    </p>
    <ul class="mb-3" style="padding-left: 2.5rem!important;">
      <li>Complete homework/classwork</li>
      <li>Give feedback to their peers/professors in close to real time</li>
      <li>Take quizzes</li>
      <li>Track their in-class progress</li>
      <li>Request regrades</li>
      <li>Seamlessly view all of this for multiple classes/sections</li>
    </ul>
    <p class="px-2 mb-1">On the other side of the educational experience, this app is designed to allow professors and TAs to:</p>
    <ul style="padding-left: 2.5rem!important;">
      <li>Assign homework/classwork</li>
      <li>Give/receive direct feedback</li>
      <li>View and grade quiz answers with minimal fuss</li>
    </ul>
  </div>
</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>