<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-lg-5 p-3 mb-4 bg-light">
  <div class="container-fluid ">
    <h1 class="pb-2 border-bottom">About</h1>
    <p class="px-2">The Mastery Learning/Specs Grading/Peer Review App (MLSGPRA) </p>
  </div>
</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>