<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Create a Course</h1>
        <p> add your info below</p>
    </div>

    <form method="post" action="createNewCourse">
        Course Name: <input type="text" name="courseName" placeholder="Brandeis CS10a-02 Fall19">
    </form>


<%- include('bootfooter') -%>
