<%- include('bootheader') -%>
    <div class="jumbotron">
        <h1>Login to the Mastery App </h1>
        <p> You must have a Brandeis University login to login to the Peer Review App on this server.
            See <a href="https://github.com/tjhickey724/SpecsGradingApp">the github source code </a> if you want to set up your own server.
        </p>
        <a class="btn btn-danger" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>
    </div>

<%- include('bootfooter') -%>
