<%- include('bootheader') -%>
    <div class="jumbotron">
        <h1>Login Error </h1>
        <p> We could not authenticate you. Please try again. </p>
        <a class="btn btn-danger" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>
    </div>

<%- include('bootfooter') -%>
