<%- include('bootheader') -%>
<%- include('menubar') -%>
<div class="p-5 mb-4 bg-light">
  <div class="container-fluid ">
    <h1>Something went wrong.</h1>
    <p class="mx-3 my-3">We could not authenticate you. Please try again.
    </p>
    <a class="ms-1 btn btn-outline-primary border border-grey shadow-sm" href="/auth/google" style="--bs-btn-color: var(--bs-dark);">
      <img class="d-inline-block align-text-top" src="images/google.svg"></img><span class="abcRioButtonContents">&nbsp;&nbsp;Sign in with Google</span>
      <!-- <span class="fa fa-google-plus">Google</span> -->
    </a>
    <a class="ms-1 btn btn-danger border border-grey shadow-sm" href="/login/local">
      <span class="abcRioButtonContents">Log in with Password</span>
      <!-- <span class="fa fa-google-plus">Google</span> -->
    </a>

  </div>
</div>
<hr>
<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>