<%- include('bootheader') -%>
    <div class="jumbotron">
        <h1>Login to the Peer Review App </h1>
        <p> You must have a gmail account to login to the Peer Review App </p>
        <a class="btn btn-danger" href="/auth/google">
            <span class="fa fa-google-plus"> Google</span>
        </a>
    </div>

<%- include('bootfooter') -%>
