<%- include('bootheader') -%> 
<%- include('menubar') -%>
<div class="p-5 mb-4 bg-light">
  <div class="container-fluid ">
    <h1>Login to the Mastery App</h1>
    <div class="mx-3 my-3">
      <p class="mt-3 mb-0">You must have a Google Email to login to
        the Peer Review App on this server.</p>
        <% if (allow_local_login=='True') {%> 
          <p class="text-muted fw-light small mb-3">(or: log in with username and password)</p>
        <% } %>
      <a class="ms-1 btn btn-outline-primary border border-grey shadow-sm" href="/auth/google" style="--bs-btn-color: var(--bs-dark);">
        <img class="d-inline-block align-text-top" src="images/google.svg"></img><span class="abcRioButtonContents">&nbsp;&nbsp;Sign in with Google</span>
        <!-- <span class="fa fa-google-plus">Google</span> -->
      </a>
      <% if (allow_local_login=='True') {%> 
        <a class="ms-1 btn btn-danger border border-grey shadow-sm" href="/login/local">
          <span class="abcRioButtonContents">Log in with Password</span>
          <!-- <span class="fa fa-google-plus">Google</span> -->
        </a>
      <%} %>
      <p class="pt-3">
        See the <a class="link-info" href="https://github.com/tjhickey724/SpecsGradingApp">GitHub
          source code <i class="bi bi-box-arrow-up-right"></i></a> if you want
        to
        set up your own server.
      </p>
    </div>
  </div>
</div>
<hr>
<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>