<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
  <a class="navbar-brand" href="/">Peer Review App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <!--
      <li class="nav-item">
        <a class="nav-link" href="/showComments">ShowComments</a>
      </li>
      -->


      <!--
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Demo pages
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/griddemo">Bootstrap Grid Demo</a>
          <a class="dropdown-item" href="/bmidemo">BMI Demo</a>
          <a class="dropdown-item" href="/quiz2">Quiz 2</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profiles
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/profiles">Show Profiles</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/profile">My Profile</a>
          <a class="dropdown-item" href="/editProfile">Update Profile</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/forum">Forum</a>
      </li>
      -->

      <% if (loggedIn) { %>
          <li class="nav-item">
            <a class="nav-link active" href="/logout"> Logout</a>
          </li>

          <li class="nav-item ml-auto">
            <a class="nav-link active" href="/profile">
               <%= user.googlename %>
               (<%= user.googleemail %>)
            </a>


          </li>

      <% } else { %>
          <li class="nav-item">
            <a class="nav-link active" href="/auth/google"> Login</a>
          </li>
        <% }  %>
    </ul>




  </div>
</nav>
