<%- include('bootheader') -%>


<div class="p-lg-5 p-4 mb-lg-3 mb-0 bg-light border">
  <div class="container-fluid">
    <h1 class="bg-danger">THIS APP IS UNDER CONSTRUCTION!!</h1>
    <h3 class="bg-danger">If you want to use it for your course, send email to tjhickey@brandeis.edu
    </h3>
    <h1>Mastery Learning Apps</h1>
    <span class="lead fs-2">Promoting Effective and Engaged Learning</span>


        <ul>
            <li>
                <a href="/mga_home">Math Grading App</a>
            </li>
            <li>
                <a href="/mla_home">Mastery Learning App</a>
            </li>
        </ul>
    

  </div>
</div>

<%- include('bootfooter') -%>
<%- include('htmlfoot') -%>